 body {
	background-color: #B3E0FE;  
	font-family: 'Poppins', sans-serif;
}

button {
	background-color: #A1A8AC;
    color: #F1F5F7; 
    border: 3px solid #a1a1a1;
    padding: 10px;
}

button:hover {
    opacity: 0.8;
}

.wrapper {
	background-color: #E1E6E9;
	padding: 30px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
    padding: 10px;
    overflow: hidden;
    border: 5px solid #A1A8AC;
}




