
.gallery-pic {
	width: 200px;
	height:200px;
	margin: 10px;
}

.gallery {
	overflow: scroll;
	display: flex;
}

.title, .buttons, .container {
	text-align: center;
}

.title {
	font-size: 30px;
	margin: 40px 0px 20px 0px;
}

.collage {
	margin-bottom: 10px;
}

.contents {
	display: inline-flex;
}

#saveform {
	display: inline;
}

#export-button {
	width: 106px;
	display: block;
	margin: 10px 0px 10px 0px;
	background-color: #A1A8AC;
    color: #F1F5F7;
    border: 3px solid #a1a1a1;
    padding: 10px;
}

#gallery-title {
	margin-left: 10px;
}

.gallery {
	margin: 10px;
}

.spacer {
	margin-left: 10px;
	margin-right: 25px;
	text-align: left;
}

.spacer > div > div > label {
	display: inline-block;
	min-width: 67px;
}

.label-divs {
	margin-bottom: 5px;
}

.spacer, .export {
	min-width: 205px;
}

.export {
	text-align: left;
	margin-left: 25px;
	margin-right: 10px;
}

body {
	margin: 0;
}

/* #previous-collages {
	position: relative;
	overflow-x: scroll;
   	overflow-y: hidden;
	height: 230px;
	width: 90%;
	border: 1px solid black;
	margin: 0 64.5px;
	white-space: nowrap;
	display: inline-block;
}

.saved-img{
	height: 200px;
	width: 200px;
}

.saved-img-div {
	display: inline-block;
	margin: 10px 10px 0px 10px;
}

#export-column
{
	width:20%;
}

#export-button
{
	width: 106px;
	display: block;
	margin-bottom: 10px;
	background-color: #A1A8AC;
    color: #F1F5F7;
    border: 3px solid #a1a1a1;
    padding: 10px;
}

#save-button
{
	width: 106px;
	display: block;
}

#build-another-button
{
	margin: 20px 0px 20px 0px;
}

#loading-image
{
	height: 400px;
	width:400px;
}

#collage-history {
	position: relative;
	overflow-x: scroll;
   	overflow-y: hidden;
	height: 230px;
	width: 700px;
 	border: 1px solid black;
 	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 40%;
	white-space: nowrap;
	display: inline-block;
}

#title-row {
	text-align: center;
} */