#title {
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
    padding: 10px;
	text-align: center;
}

#example-image {
	height: 400px;
	width: 400px;
}

#collage-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#footer {
   position:absolute;
   bottom:0;
   width:50%;
   height:60px;
}

