
#index-wrap {
	width: 31%;
}

#build-button {
	margin-top: 20px;
	background-color: #A1A8AC;
    color: #F1F5F7; 
    border: 3px solid #a1a1a1;
    padding: 10px;
}

.label-divs {
	margin-top: 10px;
}
