#options-wrap {
	width: 30%;
}

#first-button {
	display:inline-block;
	margin: 0px 5px 10px 5px;
}

#second-button {
	display:inline-block;
	margin: 0px 5px 0px 5px;
}

#content {
	text-align: center;
}

button {
	width: 150px;
}
