#register-wrap {
	width: 50%;
}

#register-button {
	background-color: #A1A8AC;
    color: #F1F5F7; 
    border: 3px solid #a1a1a1;
    padding: 10px;
    width: 70px;
    margin-bottom: 10px;
    display: inline-block;
}

#cancel-button {
	width: 70px;
	display: inline-block;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
